WHATSAPP_ID=
WHATSAPP_SECRET=
WHATSAPP_TOKEN=
WHATSAPP_VERSION=v22.0
WHATSAPP_GRAPH_URL=https://graph.facebook.com
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=
OPENAI_API_KEY=
OPENAI_API_BASE=https://api.openai.com/ 